p{
	border: 2px solid black;
	width: 600px;
}

span {
	padding: 15px;
	margin: 40px;
	width: 200px;
	height: 100px;
	border: 2px solid black;
	background-color: yellow;
}

#s1 {
	display: inline;
}

#s2 {
	display: block;
}

#s3 {
	display: inline-block;
}

#s4 {
	display: list-item;
}

#s5 {
	display: none;
}

#s6 {
	visibility: hidden;
}